.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    /* pointer-events: none; */
    opacity: 0;
    transition: all 0.3s ease-in;
}

.modal__container--visible {
    opacity: 1;
}

.modal__content {
    width: 50%;
    padding: 0;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 1rem 2rem;
    border: 4px solid #193d82;
    background-color: #4677ac;
    color: #e0e9f9;
    box-shadow: 30px 40px 20px rgba(0, 0, 0, 0.47);
}

.modal__text-wrapper {
    position: relative;
    overflow: hidden;
}

.modal__text-wrapper [data-text-placeholder] {
    visibility: hidden;
}

.modal__text-wrapper [data-text] {
    position: absolute;
    color: #fff;
    left: 0;
    top: 0;
}

.modal__title {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #6797cc;
    color: #fff;
    text-align: center;
}

.modal__content--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.modal__content--bottom {
    top: initial;
    left: 50%;
    bottom: 0;
}

.modal__actions {
    margin: 1rem 0;
    text-align: center;
}

.modal__button {
    border-radius: 0;
    border: 2px solid #2f4966;
    padding: 0.4rem 1.5rem;
    font-size: 1.2rem;
    background-color: #3d5f84;
    color: #fff;
    font-family: 'RedAlertInet';
}

.modal__button:hover {
    background-color: #7a9ec6;
    cursor: pointer;
}